<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title class="heading">Doctor List</mat-card-title>

        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>


        <p>
            <mat-form-field appearance="outline">
                <mat-label>Search</mat-label>
                <input matInput (keyup)="applyFilter($event)">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </p>





        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="doctors" matSort (matSortChange)="announceSortChange($event)">


                <!-- id Column -->
                <ng-container matColumnDef="physicianEmail">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                        sortActionDescription="Sort by physicianEmail"> physicianEmail
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.physicianEmail}} </td>
                </ng-container>



                <!--namet Column -->
                <ng-container matColumnDef="startDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by startDate">
                        Available From (Date) </th>
                    <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
                </ng-container>

                <!-- date Column -->
                <ng-container matColumnDef="endDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by endDate">
                        Available Till (Date) </th>
                    <td mat-cell *matCellDef="let element"> {{element.endDate}} </td>
                </ng-container>

                <ng-container matColumnDef="availability">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by availability">
                        availability </th>
                    <td mat-cell *matCellDef="let element"> {{element.availability }} </td>
                </ng-container>


                <ng-container matColumnDef="update">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button color="primary" aria-label="Example icon button with a home icon"
                            (click)="openDialogUpdate(element.physicianEmail)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-icon-button color="primary" aria-label="Example icon button with a home icon"
                            (click)="openDialogDelete()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>
    </mat-card-content>

</mat-card>