
  .Card{
    background-color: rgb(188, 224, 255);
    width: 200px;
    height: 100px;
    padding: 10px;
    align-self: center;
    border-color: black;
    border-width: 10px;
    border-radius: 10px;
    align-content: center;
    margin: 25px;

  }
 